
<tr>
    <td>
        <div class="">
            <input type="checkbox" class="" />
        </div>
    </td>
    <td>384</td>
    <td>AMCBK0231</td>
    <td>Pending</td>
    <td>WD36 7HU</td>
    <td>20/12/2023</td>
    <td>30/12/2023</td>
    <td>3</td>
    <td>
        <a href="#!">
            <i class="icon feather icon-edit f-16 text-success"></i>
        </a>
        <a href="#!">
            <i class="feather icon-trash-2 ml-3 f-16 text-danger"></i>
        </a>
    </td>
</tr>

<tr>
    <td>
        <div class="">
            <input type="checkbox" class="" />
        </div>
    </td>
    <td>385</td>
    <td>AMCBK0232</td>
    <td>Done</td>
    <td>AL8 035</td>
    <td>18/09/2023</td>
    <td>31/09/2023</td>
    <td>2</td>
    <td>
        <a href="#!">
            <i class="icon feather icon-edit f-16 text-success"></i>
        </a>
        <a href="#!">
            <i class="feather icon-trash-2 ml-3 f-16 text-danger"></i>
        </a>
    </td>
</tr>

<tr>
    <td>
        <div class="">
            <input type="checkbox" class="" />
        </div>
    </td>
    <td>386</td>
    <td>AMCBK0233</td>
    <td>Pending</td>
    <td>WD36 7HU</td>
    <td>20/10/2023</td>
    <td>30/12/2023</td>
    <td>5</td>
    <td>
        <a href="#!">
            <i class="icon feather icon-edit f-16 text-success"></i>
        </a>
        <a href="#!">
            <i class="feather icon-trash-2 ml-3 f-16 text-danger"></i>
        </a>
    </td>
</tr>
