<div class="tab-pane fade show active">
    <div class="card">
       <div class="card-header">
          <h5>
             <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target icon-svg-primary wid-20">
                <g>
                   <circle cx="12" cy="12" r="10"></circle>
                   <circle cx="12" cy="12" r="6"></circle>
                   <circle cx="12" cy="12" r="2"></circle>
                </g>
             </svg>
             <span class="p-l-5">Account Information</span><small class="text-muted d-block m-l-25 m-t-5">change your account settings</small>
          </h5>
       </div>
       <div class="card-body">
          <h5 class="mb-4">General</h5>
          <div class="row">
             <div class="col-sm-6">
                <div class="form-group"><label class="form-label" for="formUsername">Username <span class="text-danger">*</span></label><input type="password" id="formUsername" class="form-control" value="Ashoka_Tano_16"><small class="form-text text-muted">Your Profile URL: https://pc.com/Ashoka_Tano_16</small></div>
             </div>
             <div class="col-sm-6">
                <div class="form-group"><label class="form-label" for="formAccEmail">Account Email <span class="text-danger">*</span></label><input type="password" id="formAccEmail" class="form-control" value="demo@sample.com"></div>
             </div>
             <div class="col-sm-6">
                <div class="form-group">
                   <label class="form-label" for="formLanguage">Language</label>
                   <select id="formLanguage" class="form-control">
                      <option>Washington</option>
                      <option>India</option>
                      <option>Africa</option>
                      <option>New York</option>
                      <option>Malesia</option>
                   </select>
                </div>
             </div>
             <div class="col-sm-6">
                <div class="form-group">
                   <label class="form-label" for="formAccSignin">Signin Using</label>
                   <select id="formAccSignin" class="form-control">
                      <option>Password</option>
                      <option>Face Recognition</option>
                      <option>Thumb Impression</option>
                      <option>Key</option>
                      <option>Pin</option>
                   </select>
                </div>
             </div>
          </div>
          <hr>
          <h5 class="mb-4">Secure Browsing</h5>
          <div class="form-group">
             <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="customsecbrz1" checked=""><label class="form-check-label" for="customsecbrz1">Browsing Securely ( https ) when it's necessary</label></div>
          </div>
          <hr>
          <h5 class="mb-4">Login Notifications</h5>
          <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="customsecbrz2" checked=""><label class="form-check-label" for="customsecbrz2">Notify when login attemped from outher place</label></div>
          <hr>
          <h5 class="mb-3">Login Approvals</h5>
          <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="customsecbrz3" checked=""><label class="form-check-label" for="customsecbrz3">Approvals is not required when login from unrecognized devices.</label></div>
          <hr>
          <h5 class="mb-4">Recognized Devices</h5>
          <div class="media mb-2">
             <i class="feather icon-monitor f-20 h3 me-3 wid-30 text-center"></i>
             <div class="media-body">
                <div class="float-end">
                   <div class="text-success d-inline-block me-2"><i class="fas fa-circle f-10 me-2"></i>Current Active</div>
                   <a href="#!" class="text-danger"><i class="feather icon-x-circle"></i></a>
                </div>
                <span class="text-dark font-weight-bold">Cett Desktop</span><span class="text-muted"> | 4351 Deans Lane, Elmsford</span>
             </div>
          </div>
          <div class="media mb-2">
             <i class="feather icon-tablet f-20 h3 me-3 wid-30 text-center"></i>
             <div class="media-body">
                <div class="float-end">
                   <div class="text-muted d-inline-block me-2"><i class="fas fa-circle f-10 me-2"></i>Active 5 days ago</div>
                   <a href="#!" class="text-danger"><i class="feather icon-x-circle"></i></a>
                </div>
                <span class="text-dark font-weight-bold">Imoon Tablet</span><span class="text-muted"> | 4185 Michigan Avenue, SHIPPINGPORT</span>
             </div>
          </div>
          <div class="media mb-2">
             <i class="feather icon-smartphone f-20 h3 me-3 wid-30 text-center"></i>
             <div class="media-body">
                <div class="float-end">
                   <div class="text-muted d-inline-block me-2"><i class="fas fa-circle f-10 me-2"></i>Active 1 month ago</div>
                   <a href="#!" class="text-danger"><i class="feather icon-x-circle"></i></a>
                </div>
                <span class="text-dark font-weight-bold">Asbs Mobile</span><span class="text-muted"> | 3462 Fairfax Drive, Montclair</span>
             </div>
          </div>
          <hr>
          <h5 class="mb-3">Active Sessions</h5>
          <div class="media mb-2">
             <i class="feather icon-monitor f-20 h3 me-3 wid-30 text-center text-success"></i>
             <div class="media-body">
                <div class="float-end"><a href="#!" class="badge bg-light-danger">Logout</a></div>
                <span class="text-dark font-weight-bold">Cett Desktop</span><span class="text-muted">| 4351 Deans Lane, Elmsford</span>
             </div>
          </div>
          <div class="media mb-2">
             <i class="feather icon-tablet f-20 h3 me-3 wid-30 text-center text-success"></i>
             <div class="media-body">
                <div class="float-end"><a href="#!" class="badge bg-light-danger">Logout</a></div>
                <span class="text-dark font-weight-bold">Imoon Tablet</span><span class="text-muted">| 4185 Michigan Avenue, SHIPPINGPORT</span>
             </div>
          </div>
       </div>
       <div class="text-end card-footer"><button type="button" class="btn btn-success">Update Profile</button><button type="button" class="ms-2 btn btn-outline-dark">Clear</button></div>
    </div>
 </div>