<div class="user-card user-card-1 card">
    <div class="pb-0 card-body">
        <div class="media user-about-block align-items-center mt-0 mb-3">
            <div class="position-relative d-inline-block">
                <img class="img-radius img-fluid wid-80" src="../../../assets/img/logo.jpg" alt="User" />
                <div class="certificated-badge">
                    <i class="fas fa-certificate text-primary bg-icon"></i>
                    <i class="fas fa-check front-icon text-white"></i>
                </div>
            </div>
            <div class="media-body ms-3">
                <h6 class="mb-1">All Move & Co.</h6>
                <p class="mb-0 text-muted">Administrator</p>
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="f-w-500">
                <i class="feather icon-mail m-r-10"></i>
                Email
            </span>
            <a href="mailto:admin@allmove.co" class="float-end text-body">admin@allmove.co</a>
        </li>
        <li class="list-group-item">
            <span class="f-w-500">
                <i class="feather icon-phone-call m-r-10"></i>
                Phone
            </span>
            <a href="#" class="float-end text-body">+44 (0) 776 3745327</a>
        </li>
        <li class="border-bottom-0 list-group-item">
            <span class="f-w-500">
                <i class="feather icon-map-pin m-r-10"></i>
                Location
            </span>
            <span class="float-end">Watford</span>
        </li>
    </ul>

    <div class="card-body">
        <div class="text-center row">
            <div class="col">
                <h6 class="mb-1">37</h6>
                <p class="mb-0">Mails</p>
            </div>
            <div class="border-start col">
                <h6 class="mb-1">2749</h6>
                <p class="mb-0">Followers</p>
            </div>
            <div class="border-start col">
                <h6 class="mb-1">678</h6>
                <p class="mb-0">Following</p>
            </div>
        </div>
    </div>

    <div aria-orientation="vertical" class="nav flex-column nav-pills list-pills list-group list-group-flush" role="tablist">
        <a class="nav-link list-group-item list-group-item-action active" href="#">
            <span class="f-w-500">
                <i class="feather icon-user m-r-10 h5"></i>
                Profile Overview
            </span>
            <span class="float-end">
                <i class="feather icon-chevron-right"></i>
            </span>
        </a>
        <a class="nav-link list-group-item list-group-item-action" href="#">
            <span class="f-w-500">
                <i class="feather icon-file-text m-r-10 h5"></i>
                Personal Information
            </span>
            <span class="float-end">
                <i class="feather icon-chevron-right"></i>
            </span>
        </a>
        <a class="nav-link list-group-item list-group-item-action" href="#">
            <span class="f-w-500">
                <i class="feather icon-book m-r-10 h5"></i>
                Account Information
            </span>
            <span class="float-end">
                <i class="feather icon-chevron-right"></i>
            </span>
        </a>
        <a class="nav-link list-group-item list-group-item-action" href="#">
            <span class="f-w-500">
                <i class="feather icon-shield m-r-10 h5"></i>
                Change Password
            </span>
            <span class="float-end">
                <i class="feather icon-chevron-right"></i>
            </span>
        </a>
    </div>
</div>
