<div class="tab-pane fade show active">
    <div role="alert" class="fade alert alert-warning show">
       <h5 class="alert-heading"><i class="feather icon-alert-circle me-2"></i>Alert!</h5>
       <p>Your Password will expire in every 3 months. So change it periodically.</p>
       <hr>
       <p class="mb-0">Do not share your password</p>
    </div>
    <div class="card">
       <div class="card-header">
          <h5>
             <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock icon-svg-primary wid-20">
                <g>
                   <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                   <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                </g>
             </svg>
             <span class="p-l-5">Change Password</span>
          </h5>
       </div>
       <div class="card-body">
          <div class="row">
             <div class="col-sm-6">
                <div class="form-group"><label class="form-label" for="formCurrentPwd">Current Password <span class="text-danger">*</span></label><input placeholder="Enter Your current password" type="password" id="formCurrentPwd" class="form-control"><small class="form-text text-muted">Forgot password? <a href="#!">Click here</a></small></div>
             </div>
          </div>
          <div class="row">
             <div class="col-sm-6">
                <div class="form-group"><label class="form-label" for="formNewPwd">New Password <span class="text-danger">*</span></label><input placeholder="Enter New password" type="password" id="formNewPwd" class="form-control"></div>
             </div>
             <div class="col-sm-6">
                <div class="form-group"><label class="form-label" for="formConfirmPwd">Confirm New Password <span class="text-danger">*</span></label><input placeholder="Confirm New password" type="password" id="formConfirmPwd" class="form-control"></div>
             </div>
          </div>
       </div>
       <div class="text-end card-footer"><button type="button" class="btn btn-danger">Change Password</button><button type="button" class="ms-2 btn btn-outline-dark">Clear</button></div>
    </div>
 </div>