<li class="dropdown pc-h-item">
    <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button"
        aria-haspopup="false" aria-expanded="false">
        <i class="material-icons-two-tone">search</i>
    </a>
    <div class="dropdown-menu dropdown-menu-right pc-h-dropdown drp-search">
        <form class="px-3">
            <div class="form-group mb-0 d-flex align-items-center">
                <i data-feather="search"></i>
                <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
            </div>
        </form>
    </div>
</li>