<div class="pc-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <app-breadcrumb-profile></app-breadcrumb-profile>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <app-profile-section></app-profile-section>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="tab-content">
                        <app-profile-information-edir></app-profile-information-edir>
                        <!-- <app-profile-account-information></app-profile-account-information>
                        <app-profile-change-password></app-profile-change-password> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>