
<div class="pc-container">
    <div class="pcoded-content">
        <app-breadcrumb-profile></app-breadcrumb-profile>

        <div class="row">
            <div class="col-lg-4">
                <app-profile-section></app-profile-section>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="tab-content">
                        <!--<app-profile-overview></app-profile-overview>
                        <app-profile-information-edir></app-profile-information-edir>
                        <app-profile-account-information></app-profile-account-information>-->
                        <app-profile-change-password></app-profile-change-password>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
